@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
	font-family: 'Varela Round', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	background-color: #3f322b; /*#dcf4f4 color for light mode*/
	color: white;
	position: relative;
}

.main-section {
	height: 100%;
	width: 100%;
}

.main-section-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 200px;
	height: 200px;
}

.main-head {
	font-size: 60px;
	font-weight: bold;
}

.main-para {
	font-size: 20px;
	color: gray;
}

.custom-btn {
	margin: 5px;
	text-transform: uppercase;
	border: 1px solid white;
	border-radius: 0px;
	color: white;
	background: transparent;
}

.custom-btn:hover {
	color: gray;
}

.custom-btn:focus {
	outline: none;
	box-shadow: none;
}

.grid {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	height: 60px;
	width: 65%;
	margin-top: 1px;
}

.col {
	height: 100%;
	margin: 1px;
	border-radius: 2px;
	background-color: #252626;
	cursor: pointer;
	background-image: url(../images/gift.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
}

.correct {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0CB04A;
	background-size: 30px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center;
}

.wrong {
	background-color: #c41e3a;
	background-image: url(../images/bomb.svg);
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
}

.hide {
	display: none;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 100%;
  z-index: 20;
}

.alert-body {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: saturate(180%) blur(80px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.btn-main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.alert-btn {
	margin: 10px;
	text-transform: uppercase;
	background: transparent;
	border: 1px solid white;
	color: white;
	font-size: 18px;
}

.alert-btn:hover {
	background-color: #252626;
	color: lightgray;
}

.alert-btn:focus {
	outline: none;
}

.show-score {
	display: flex;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	color: royalblue;
}

.music-btn {
	cursor: pointer;
	height: 30px;
	width: 30px;
	position: fixed;
	bottom: 5%;
	right: 5%;
	background-image: url(../images/playicon.svg);
}

@media (max-width: 400px) {
	.logo {
		width: 100px;
		height: 100px;
	}

	.main-head {
		font-size: 35px;
	}

	.main-para {
		font-size: 18px;
	}	
}

@media (max-width: 910px) {
	.row {
		height: 50px;
		width: 60%;
	}
}

@media (max-width: 780px) {
	.row {
		width: 80%;
	}
}

@media (max-width: 580px) {
	.row {
		height: 40px;
		width: 65%;
	}

	.alert-body {
  		width: 80%;
	}
}

@media (max-width: 480px) {
	.row {
		width: 80%;
	}
}

@media (max-width: 388px) {
	.row {
		height: 30px;
		width: 100%;
	}
	.alert-body {
  		width: 90%;
	}
}